.loader{
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    background-color: #fff;
    border: 10px solid rgb(10, 1, 1);
    border-top: 10px solid rgb(248, 244, 12);
    animation: loader 1.3s normal 0.2s infinite;
}
@keyframes loader{
    from{
        transform: translate();
    }
    to{
        transform: rotate(360deg);
    }

}
